
@import "tailwindcss";
body {
  font-family: "Newsreader", serif;
}

/* RIGHT → LEFT (Top Thin System Ticker) */
@keyframes tickerRTL {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.ticker-rtl {
  width: max-content;
  animation: tickerRTL 30s linear infinite;
}
.ticker-rtl:hover {
  animation-play-state: paused;
}


/* LEFT → RIGHT (Big Live News Section) */
@keyframes tickerLTR {

  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-ltr {
  width: max-content;

  animation: tickerLTR 105s linear infinite;
}
.ticker-ltr:hover {
  animation-play-state: paused;
}